In [ ]:
# pip install numpy pandas ipython

Requirement already satisfied: numpy in c:\users\abin\appdata\local\programs\python\python311\lib\site-packages (2.2.3)Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.3 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Collecting pandas
  Using cached pandas-2.2.3-cp311-cp311-win_amd64.whl (11.6 MB)
Requirement already satisfied: ipython in c:\users\abin\appdata\roaming\python\python311\site-packages (8.32.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\abin\appdata\roaming\python\python311\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1
  Downloading pytz-2025.1-py2.py3-none-any.whl (507 kB)
     -------------------------------------- 507.9/507.9 kB 1.3 MB/s eta 0:00:00
Collecting tzdata>=2022.7
  Downloading tzdata-2025.1-py2.py3-none-any.whl (346 kB)
     -------------------------------------- 346.8/346.8 kB 3.1 MB/s eta 0:00:00
Requirement already satisfied: colorama in c:\users\abin\appdata\roaming\python\python311\site-packages (from ipython) (0.4.6)
Requirement already satisfied: decorator in c:\users\abin\appdata\roaming\python\python311\site-packages (from ipython) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\abin\appdata\roaming\python\python311\site-packages (from ipython) (0.19.2)
Requirement already satisfied: matplotlib-inline in c:\users\abin\appdata\roaming\python\python311\site-packages (from ipython) (0.1.7)
Requirement already satisfied: prompt_toolkit<3.1.0,>=3.0.41 in c:\users\abin\appdata\roaming\python\python311\site-packages (from ipython) (3.0.50)
Requirement already satisfied: pygments>=2.4.0 in c:\users\abin\appdata\roaming\python\python311\site-packages (from ipython) (2.19.1)
Requirement already satisfied: stack_data in c:\users\abin\appdata\roaming\python\python311\site-packages (from ipython) (0.6.3)
Requirement already satisfied: traitlets>=5.13.0 in c:\users\abin\appdata\roaming\python\python311\site-packages (from ipython) (5.14.3)
Requirement already satisfied: typing_extensions>=4.6 in c:\users\abin\appdata\roaming\python\python311\site-packages (from ipython) (4.12.2)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in c:\users\abin\appdata\roaming\python\python311\site-packages (from jedi>=0.16->ipython) (0.8.4)
Requirement already satisfied: wcwidth in c:\users\abin\appdata\roaming\python\python311\site-packages (from prompt_toolkit<3.1.0,>=3.0.41->ipython) (0.2.13)
Requirement already satisfied: six>=1.5 in c:\users\abin\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Requirement already satisfied: executing>=1.2.0 in c:\users\abin\appdata\roaming\python\python311\site-packages (from stack_data->ipython) (2.2.0)
Requirement already satisfied: asttokens>=2.1.0 in c:\users\abin\appdata\roaming\python\python311\site-packages (from stack_data->ipython) (3.0.0)
Requirement already satisfied: pure-eval in c:\users\abin\appdata\roaming\python\python311\site-packages (from stack_data->ipython) (0.2.3)
Installing collected packages: pytz, tzdata, pandas
Successfully installed pandas-2.2.3 pytz-2025.1 tzdata-2025.1

In [9]:
# NumPy and Pandas Assignment
# Complete the following tasks by filling in the code where indicated.
# Ensure your notebook is well-documented with markdown cells explaining your code and result.

import numpy as np
import pandas as pd
from IPython.display import display

# Task 1: NumPy Basics

### Array Creation
#### 1. Create an array of 10 zeros but set the fifth element to 1.

In [10]:
# solution
# Create an array of 10 zeros
my_array = np.zeros(10, dtype=int)

# Set the fifth element (index 4) to 1
my_array[4] = 1

print(my_array)

[0 0 0 0 1 0 0 0 0 0]

### 2. Create a 4x4 matrix with values ranging from 0 to 15.

In [11]:
# solution

# Create a 4x4 matrix with values from 0 to 15
matrix = np.arange(16).reshape(4, 4)

# Print the matrix
print(matrix)

[[ 0  1  2  3]
 [ 4  5  6  7]
 [ 8  9 10 11]
 [12 13 14 15]]

### Array Operations

#### 3. Create two NumPy arrays: Perform element-wise addition, subtraction, multiplication, and division.
#### arr1: array([[41, 30, 10], [ 6, 35, 23], [23,  9, 10]])
#### arr2: array([[4, 29,  2], [5, 13,  3], [24, 16,  7]])

In [12]:
# solution
arr1= np.array([[41, 30, 10], [ 6, 35, 23], [23,  9, 10]])
arr2= np.array([[4, 29,  2], [5, 13,  3], [24, 16,  7]])
# addition: arr1 + arr2
addi = arr1+arr2
print(addi)
# subtraction: arr1 - arr2 
sub=arr1-arr2
print(sub)
# division: arr1 / arr2
divi= arr1/ arr2
print(divi)
# multiplication: arr1 * arr2
multi = arr1 *arr2
print(multi)

[[45 59 12]
 [11 48 26]
 [47 25 17]]
[[37  1  8]
 [ 1 22 20]
 [-1 -7  3]]
[[10.25        1.03448276  5.        ]
 [ 1.2         2.69230769  7.66666667]
 [ 0.95833333  0.5625      1.42857143]]
[[164 870  20]
 [ 30 455  69]
 [552 144  70]]

### Array Slicing
#### 4. Given the array: 
#### arr = np.array([10, 20, 30, 40, 50, 60, 70, 80, 90, 100])
#### Extract elements from index 2 to 6.

In [13]:
# solution
arr = np.array([10, 20, 30, 40, 50, 60, 70, 80, 90, 100])
print(arr)
sliced_arr = arr[2:6]
print("Extracted elements",sliced_arr)

[ 10  20  30  40  50  60  70  80  90 100]
Extracted elements [30 40 50 60]

### Using NumPy Methods
#### 5. Convert the array below to a 3Ã—3 NumPy array.
#### array([[15, 18, 20], [15, 30, 8], [25, 30, 60]])
#### Find the mean, sum, and maximum value.

In [14]:
# solution
arr_conv = np.array([[15, 18, 20], 
                [15, 30, 8], 
                [25, 30, 60]])

# Compute mean, sum, and max value
mean_value = round(np.mean(arr_conv),2)
sum_value = np.sum(arr_conv)
max_value = np.max(arr_conv)
print("max values",max_value)
# NB: round the mean to two decimal places

max values 60

# Task 2: Pandas Basics

### Creating a Pandas Series
#### 1. Create a Pandas Series from the list [10, 20, 30, 40, 50] with index labels 'a', 'b', 'c', 'd', 'e'.

In [15]:
# solution

data = [10, 20, 30, 40, 50]
index_labels = ['a', 'b', 'c', 'd', 'e']

series = pd.Series(data, index=index_labels)

print(series)

a    10
b    20
c    30
d    40
e    50
dtype: int64

### Reading a CSV File
#### 2. Read a CSV file named "data.csv" into a Pandas DataFrame. The CSV file has the following columns: "Name", "Age", "Salary".

In [16]:
# solution
df_csv = pd.read_csv('data/data.csv')
print(df_csv)

       Name  Age  Salary
0     Alice   29   73193
1       Bob   53   85398
2   Charlie   36   47162
3     David   22   65853
4       Eve   24   36168
5     Frank   58   69657
6     Grace   41   85202
7    Hannah   38   62421
8     Isaac   50   74641
9      Jack   47   38963
10    Karen   34   32136
11      Leo   49   41874
12     Mona   56   34070
13     Nina   49   91734
14    Oscar   30   89539
15     Paul   23   78720
16    Quinn   31   54424
17   Rachel   54   59900
18    Steve   36   32163
19     Tina   56   52054

### Slicing a DataFrame
#### 3. From the DataFrame created in Exercise 2, select only the first three rows.

In [17]:
# Using .iloc[] to select the first 3 rows
df_first_three = df_csv.iloc[:3]

### Manipulating a DataFrame - Adding a Column
#### 4. Add a new column named "Tax" to the DataFrame from Exercise 2. The tax should be calculated as 10% of the "Salary" column.

In [18]:
# solution
# Adding a new column "Tax" (10% of Salary)
df_csv["Tax"] = df_csv["Salary"] * 0.10 

# Display the updated DataFrame
print(df_csv)

       Name  Age  Salary     Tax
0     Alice   29   73193  7319.3
1       Bob   53   85398  8539.8
2   Charlie   36   47162  4716.2
3     David   22   65853  6585.3
4       Eve   24   36168  3616.8
5     Frank   58   69657  6965.7
6     Grace   41   85202  8520.2
7    Hannah   38   62421  6242.1
8     Isaac   50   74641  7464.1
9      Jack   47   38963  3896.3
10    Karen   34   32136  3213.6
11      Leo   49   41874  4187.4
12     Mona   56   34070  3407.0
13     Nina   49   91734  9173.4
14    Oscar   30   89539  8953.9
15     Paul   23   78720  7872.0
16    Quinn   31   54424  5442.4
17   Rachel   54   59900  5990.0
18    Steve   36   32163  3216.3
19     Tina   56   52054  5205.4

#### Filter the dataframe by the column "age" whereby the age is above 36 years

In [19]:
# solution
filtered_df = df_csv[df_csv["Age"] > 36]

# Display the filtered DataFrame
print(filtered_df)

      Name  Age  Salary     Tax
1      Bob   53   85398  8539.8
5    Frank   58   69657  6965.7
6    Grace   41   85202  8520.2
7   Hannah   38   62421  6242.1
8    Isaac   50   74641  7464.1
9     Jack   47   38963  3896.3
11     Leo   49   41874  4187.4
12    Mona   56   34070  3407.0
13    Nina   49   91734  9173.4
17  Rachel   54   59900  5990.0
19    Tina   56   52054  5205.4

# Task 3: Data Analysis with Pandas

### Aggregation - Compute Total and Mean Sales
#### 1. Given a dataset of sales transactions, compute the total and mean sales per region.

In [20]:
# Sample Data
sales_data = pd.DataFrame({
    "Region": ["North", "South", "North", "West", "South", "West"],
    "Sales": [1000, 1500, 1200, 1800, 1300, 1700]
})
sales_data.head()

  Region  Sales
0  North   1000
1  South   1500
2  North   1200
3   West   1800
4  South   1300

In [21]:
# solution
# Grouping by Region and computing total and mean sales
sales_summary = sales_data.groupby("Region")["Sales"].agg(["sum", "mean"])

# Rename columns for better readability
sales_summary.rename(columns={"sum": "Total Sales", "mean": "Average Sales"}, inplace=True)

# Display the result
print(sales_summary)

        Total Sales  Average Sales
Region
North          2200         1100.0
South          2800         1400.0
West           3500         1750.0

### Merging - Combine Customer and Order Data
#### 2. Merge customers and orders data based on CustomerID.

In [22]:
customers = pd.DataFrame({
    "CustomerID": [1, 2, 3, 4],
    "CustomerName": ["Alice", "Bob", "Charlie", "David"]
})

orders = pd.DataFrame({
    "OrderID": [101, 102, 103, 104],
    "CustomerID": [1, 2, 2, 4],
    "Amount": [250, 400, 600, 150]
})

display(customers.head(2), orders.head(2))

   CustomerID CustomerName
0           1        Alice
1           2          Bob

   OrderID  CustomerID  Amount
0      101           1     250
1      102           2     400

In [23]:
# solution
# Merging customers and orders on CustomerID
merged_data = pd.merge(customers, orders, on="CustomerID", how="inner")

# Display the merged DataFrame
print(merged_data)

   CustomerID CustomerName  OrderID  Amount
0           1        Alice      101     250
1           2          Bob      102     400
2           2          Bob      103     600
3           4        David      104     150

### Joining - Left Join Employee Data
#### 4. Perform a left join between employees and departments on DeptID.

In [24]:
# NB: No test for this. Just an exercise for you to play around with
employees = pd.DataFrame({
    "EmpID": [101, 102, 103, 104],
    "EmpName": ["John", "Jane", "Alice", "Bob"],
    "DeptID": [1, 2, 2, 3]
})

departments = pd.DataFrame({
    "DeptID": [1, 2],
    "DeptName": ["HR", "Finance"]
})

display(employees.head(2), departments.head(2))

   EmpID EmpName  DeptID
0    101    John       1
1    102    Jane       2

   DeptID DeptName
0       1       HR
1       2  Finance

In [25]:
# solution
# Performing a Left Join on DeptID
merged_data = pd.merge(employees, departments, on="DeptID", how="left")

# Display the result
print(merged_data)

   EmpID EmpName  DeptID DeptName
0    101    John       1       HR
1    102    Jane       2  Finance
2    103   Alice       2  Finance
3    104     Bob       3      NaN

### Pivot Table - Summarize Sales Data
#### 4. Create a pivot table showing total sales for each Region and Product.

In [26]:
sales_pivot_data = pd.DataFrame({
    "Region": ["North", "North", "South", "South", "West", "West"],
    "Product": ["A", "B", "A", "B", "A", "B"],
    "Sales": [200, 300, 150, 400, 250, 500]
})

sales_pivot_data.head(2)

  Region Product  Sales
0  North       A    200
1  North       B    300

In [27]:
# solution
# Creating Pivot Table
pivot_table = pd.pivot_table(sales_pivot_data, values="Sales", index="Region", columns="Product", aggfunc="sum")

# Display the pivot table
print(pivot_table)

Product    A    B
Region
North    200  300
South    150  400
West     250  500